@model IEnumerable<WebUIClient.Models.Cart>

@{
    ViewData["Title"] = "AllCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AllCart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-controller="Cart" asp-action="Details" asp-route-id="@item.ProductId">Detail</a>
                    <a asp-controller="Cart" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                    <a asp-controller="Cart" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
